{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" >
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{% block title %}Cortes{% endblock %}</h1>
                </div>
                <div class="card-body text-center">
                    <div class="d-grid gap-3">
                        <button  id="linesbutton" onclick="sendCorte('propio')" class="btn btn-primary btn-lg">Propios</button>
                        <button id="scrumbutton" onclick="sendCorte('ajeno')" class="btn btn-primary btn-lg">Ajenos</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function sendCorte(tipo) {
        fetch("{{ url_for('cortes.scrum_cortes', id=id) }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ tipo: tipo })
        });
    }
</script>

{% endblock %}
