{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" >
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{% block title %}Cortes{% endblock %}</h1>
                </div>
                <div class="card-body text-center">
                    <div class="d-grid gap-3">
                        <form method="post" action="{{ url_for('cortes.scrum_cortes', id=id) }}">
                            <input type="hidden" name="tipo" value="propio">
                            <button type="submit" class="btn btn-primary btn-lg">Propios</button>
                        </form>
                        
                        <form method="post" action="{{ url_for('cortes.scrum_cortes', id=id) }}">
                            <input type="hidden" name="tipo" value="ajeno">
                            <button type="submit" class="btn btn-primary btn-lg">Ajenos</button>
                        </form>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function sendCorte(tipo) {
        fetch("{{ url_for('cortes.scrum_cortes', id=id) }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ tipo: tipo })
        })
        .then(response => response.text()) // o .json() si devolvés JSON
        .then(html => {
            // Reemplaza el contenido del body con la nueva página
            document.body.innerHTML = html;
        });
    }
</script>

{% endblock %}
