{% extends 'base.html' %}

{% block content %}
<section class="container-fluid">
    <nav class="navbar">
        <h1 class="text-center">{% block title %}Estadísticas{% endblock %}</h1>
    </nav>

    <div class="row">
        <!-- Gráfico 1 -->
        <div class="col-md-6 text-center">
            <h2>Efectividad tackles</h2>
            <img src="{{url_for('dashboards.tackles_pie', id=sesion)}}" alt="Gráfico de Tackles" class="img-fluid">
        </div>

        <!-- Gráfico 2 -->
        <div class="col-md-6 text-center">
            <h2>Distribucion de tackles</h2>
            <img src="{{url_for('dashboards.tackles_distr', id=sesion)}}" alt="Gráfico 2" class="img-fluid">
        </div>
    </div>

    <div class="row mt-4">
        <!-- Gráfico 3 -->
        <div class="col-12 text-center">
            <h2>Tackles por jugador</h2>
            <img src="{{url_for('dashboards.tackles_jugador', id=sesion)}}" alt="Gráfico Completo" class="img-fluid">
        </div>
    </div>
</section>
{% endblock %}
