{% extends 'base.html' %}

{% block content %}
<section class="container-fluid">
    <nav class="navbar">
        <h1>{% block title %}Registro de Tackles{% endblock %}</h1>
    </nav>

    <!-- Tabla de jugadores -->
    <div class="row justify-content-center mt-5">
        <div class="col-sm-10">
            <h2 class="text-center">Jugadores en Cancha</h2>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th class="col">Camiseta</th>
                        <th class="col">Jugador</th>
                        <th class="col" colspan="2">Tackle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jugador in jugadores_sesion %}
                    <tr>
                        <td>{{ jugador.camiseta }}</td>
                        <td>{{ get_nombre_jugador(jugador.id_jugador) }}</td>
                        <td>
                            <form class="register-event-form" method="POST" action="{{ url_for('eventos.register_event') }}" style="display: inline;">
                                <input type="hidden" name="jugador" value="{{ jugador.id_jugador }}">
                                <input type="hidden" name="event" value="tackle_positivo">
                                <input type="hidden" name="sesion" value="{{ jugador.id_sesion }}">
                                <!-- <input type="hidden" name="url" value="{{url_for('interfaces.tackle', id=jugador.id_sesion)}}"> -->
                                <button type="submit" class="btn btn-primary btn-sm">Concretado</button>
                            </form>
                            <form class="register-event-form" method="POST" action="{{ url_for('eventos.register_event') }}" style="display: inline;">
                                <input type="hidden" name="jugador" value="{{ jugador.id_jugador }}">
                                <input type="hidden" name="event" value="tackle_errado">
                                <input type="hidden" name="sesion" value="{{ jugador.id_sesion }}">
                                <!-- <input type="hidden" name="url" value="{{url_for('interfaces.tackle', id=jugador.id_sesion)}}"> -->
                                <button type="submit" class="btn btn-danger btn-sm">Errado</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
